* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.flex {
  background:rgb(157, 215, 133);
  height:100vh;
  display: flex;
}

.half {
  background: rgb(255, 195, 254);
  width:50%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background:rgb(186, 166, 255);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: pulse 3s ease infinite alternate;
}

.square {
  background:rgb(186, 166, 255);
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

.runner {
  background:rgb(186, 166, 255);
  width: 500px;
  height: 100px;
  position: fixed;
  bottom:0;
  left:0;
  animation: run 2s ease infinite;
}

@keyframes  pulse {
  0% {
    background:rgb(186, 166, 255);
    transform:scale(1);
    }
    100% {
      background:rgb(14, 213, 23);
      transform:scale(2);
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform:translateX(100vw);
  }
}
