body {
  background: rgb(255, 142, 199);
  background-image: url("pinkpurple.gif");
  background-color: #cccccc;
}

#grad {
  background-image: linear-gradient(to right, rgb(255, 142, 199), yellow);
}

p{
  text-align: center;
  font-size: 100px;
  font-family: 'Coustard', serif;
}

.special {
  color: rgb(56, 10, 78);
  font-style: italic;
  display:inline;
}

.special-img {
  position: absolute;
  height:550px;
  width:570px;
  top:1000px;
  left:10px;
  /* display:none; */
  opacity:0;
  transition: opacity 0.5s ease;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.special:hover {
  color: rgb(250, 0, 232);
}

.special:hover .special-img {
  opacity:1;
}

.one {
  top:100px;
  left:100px;
  bottom:100px;
  right:200px;
}
