html {
background:radial-gradient(circle, rgba(255,169,239,1) 0%, rgba(239,231,146,1) 50%, rgba(112,241,255,1) 100%);
}

.reading1{
  color:rgb(0, 209, 215);
  font-size: 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.reading2{
  color:rgb(255, 216, 9);
  font-size: 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.reading3{
  color:rgb(255, 148, 244);
  font-size: 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.heart{
  color:rgb(255, 98, 211);
  font-size: 60px;
}

.title{
  color:rgb(255, 98, 211);
  font-size: 15px;
  position: absolute;
  top: 100px;
}
