html {
background:radial-gradient(circle, rgba(255,169,239,1) 0%, rgba(239,231,146,1) 50%, rgba(112,241,255,1) 100%);
}

.reading1{
  color:rgb(161, 32, 214);
  font-size: 35px;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.reading2{
  color:rgb(161, 32, 214);
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

.reading3{
  color:rgb(161, 32, 214);
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}
